/* CSS declarations go here */
body {
}

a:hover, a:visited, a:focus {
	text-decoration: none !important;
}

a:hover {
	color: white !important;
}

/* Navbar */

.site-header {
	background-color: rgba(0, 0, 0, .85);
}

.site-header a {
	color: #999;
	font-size: 15px;
	transition: ease-in-out color .15s;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

/* Banner img */

.home-content {
	padding-top: 200px;
	height: 550px;
	margin-bottom: 10px;
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: cover;	
    background-attachment: fixed;
}

.banner-img {
	width: 100%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-weight: 600;
}

.movie_title {
	font-size: 40px;
	color: white;
}

.movie_genre {
	margin-top: -10px;
	font-size: 14px;
	color: white;
}

.see_btn {
	background-color: rgba(0, 0, 0, .85);
	border-radius: 10px;
	color: #999;
	border: none;
	font-size: 14px;
	padding: 10px;
	margin-top: 20px;
}

.sub_title {
	margin-top: 20px;
}

.sub_title, .movie_date {
	font-size: 14px;
	color: white;
}

/* Movie card */
.movie_card {
	margin: 20px 0;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	box-shadow: 5px 10px #e7e7e7;
	color: black;
}

.movie_card:hover {
	color:gray !important;
}

.movie_card.col-md-3 {
	padding: 0px;
}

.movie_card > img {
	object-fit: cover;
	height: 70%;
	width: 100%;
}

.card_desc {
	padding: 10px 25px !important;
	font-weight: 600;
}

.card_rating {
	margin-top: 5px;
}

.card_rating > i {
	margin-right: 5px;
	font-size: 10px;
	line-height: 10px;
}

.card_title {
	font-size: 20px;
}

/* Movie content detail */
.movie_img {
	height: 400px;
	width: 100%;
	object-fit: cover;
}

.movie-content {
	padding: 50px 0  !important;
}

.movie_name {
	font-size: 30px;
	font-weight: 600;
}

.sub_title_movie {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 500;
}

.col-md-4 {
}

.latest_tweets {
	background-color: #35aadc;
	color: white;
	text-align: center;
	height: 40px;
	font-size: 16px;
	font-weight: 800;
	line-height: 40px;
	border-radius: 10px;
}

.tweet-scroller{
	overflow: auto;
	height: 400px;
	width: 100%;
}

/* Comment component  */
.comment-content {
	margin-top: 20px;
}

.comment_input {
	width: 100%;
	height: 100px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
}

.comment_submit {
	margin-top:10px;
	margin-bottom: 10px;
}

/* Comment detail */
.comment-detail {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
}

.comment_title {
	line-height: 40px;
	margin-left: 10px;
}

.comment-desc {
	margin-left: 60px;
	font-size: 14px;
}

.comment-img {
	margin-left: 10px;
}

/* Tweet detail */
.tweet_detail {
	min-height: 80px;
	padding: 10px;
	background-color: white;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin: 5px 0;
}

.tweet_name {
	font-weight: 600;
	font-size: 15px;
}

.tweet_date {
	color: lightgray;
	font-size: 12px;
}

.tweet_body {
	font-size: 12px;
	font-weight: 500px;
}

/* In theaters */
.theaters_title {
	margin-top: 20px;
}

/* Ask login */
.ask_login {
	text-align: center;
	margin: 20px 0;
}

.ask_login > .row {
	font-size: 15px;
	margin-bottom: 20px;
}

.ask_login > a {
	color: white;
	background-color: black;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
} 

/* Popular */
.graph_container {
	width: 100%;
	height: 280px;
}
